       body {
           max-width: max-content;
           margin-right: auto;
       }
       
       #home {
           height: 50px;
           width: 50px;
           border-radius: 50%;
       }
       
       #name {
           font-family: 'Roboto', sans-serif;
           text-align: center;
           margin-left: auto;
           margin-right: auto;
       }
       
       #p1 {
           font-family: 'Roboto Mono', monospace;
           text-align: center;
           margin-left: auto;
           margin-right: auto;
       }
       
       #avatar {
           height: 350px;
           width: 350px;
           margin: 2rem 0;
           display: block;
           margin-left: auto;
           margin-right: auto;
           border-radius: 50%;
       }
       
       .column {
           display: block;
           flex-basis: 0;
           -webkit-box-flex: 1;
           flex-grow: 1;
           flex-shrink: 1;
           padding: 100em;
           margin-left: auto;
           margin-right: auto;
       }
       
       .marginal {
           -webkit-box-flex: 1;
           flex-grow: 1;
           flex-shrink: 0;
           padding: 3rem 1.5rem;
           margin-left: auto;
           margin-right: auto;
       }
       
       #img1 {
           display: block;
           margin-left: auto;
           margin-right: auto;
           background-color: white;
       }
       
       #background-color1 {
           background-color: #003245;
           min-width: 1216px;
           min-height: 500px;
           margin-left: auto;
           margin-right: auto;
       }
       
       #h2 {
           text-align: center;
           color: aliceblue;
           margin: 0px 0px 24px;
           margin-left: auto;
           margin-right: auto;
       }
       
       #p2 {
           text-align: center;
           color: aliceblue;
           font-family: "europa", sans-serif;
           font-weight: 300;
           font-size: larger;
           line-height: 1.5;
           padding: 12px 5px 12px 5px;
           margin-left: auto;
           margin-right: auto;
       }
       
       .container {
           -webkit-box-flex: 1;
           flex-grow: 1;
           margin: 0 auto;
           position: relative;
           width: auto;
           padding: 9rem 1.5rem;
           min-width: 2000px;
           margin-left: auto;
           margin-right: auto;
       }
       
       .container-center {
           -webkit-box-pack: center;
           justify-content: center;
           padding: 0px 50px 25px 0px;
           box-sizing: content-box;
           margin-bottom: 25px;
           margin-left: auto;
           margin-right: auto;
       }
       
       .container-central {
           -webkit-box-flex: 0;
           flex: none;
           width: 60%;
           display: block;
           margin-left: auto;
           margin-right: auto;
       }
       
       #colunas {
           margin-top: -8rem;
           min-height: 500px;
           margin-left: auto;
           margin-right: auto;
       }
       
       .containerIsNarrow {
           max-width: 1200px;
           margin: 0px 330px 0px 330px;
           min-height: 1000px;
           margin-left: auto;
           margin-right: auto;
       }
       
       .box {
           border-radius: 12px;
           background-color: white;
           border-radius: 6px;
           box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
           color: #141c3a;
           display: block;
           padding: 1.25rem;
           height: 660px;
           margin-left: auto;
           margin-right: auto;
       }
       
       #liAcademico {
           text-align: left;
           margin-left: auto;
           margin-right: auto;
           font-size: larger;
       }
       
       #academico {
           width: 70px;
           height: 70px;
           border-radius: 50%;
           transform: translateY(-50px);
           margin-left: auto;
           margin-right: auto;
       }
       
       .academico {
           display: block;
           position: relative;
           padding: 70px 45px 70px 45px;
           height: 610px;
           left: 100px;
           margin-left: auto;
           margin-right: auto;
       }
       
       #formacao {
           text-align: center;
           margin-top: -25px;
           margin-left: auto;
           margin-right: auto;
       }
       
       .columAcademico {
           float: left;
           width: 240px;
           text-align: center;
           margin-left: auto;
           margin-right: auto;
       }
       
       .columExperiencia {
           float: right;
           width: 240px;
           text-align: center;
           height: 626px;
       }
       
       #work {
           width: 70px;
           height: 70px;
           transform: translateY(-50px);
           border-radius: 50%;
           background-color: white;
           margin-left: auto;
           margin-right: auto;
       }
       
       .work {
           display: block;
           position: relative;
           padding: 70px 45px 70px 45px;
           right: 100px;
           margin-left: auto;
           margin-right: auto;
       }
       
       #experiencia {
           text-align: center;
           margin-top: -25px;
           margin-bottom: 32px;
           margin-left: auto;
           margin-right: auto;
       }
       
       .columTecnologias {
           margin-left: auto;
           margin-right: auto;
           width: 240px;
           text-align: center;
           height: 626px;
           ;
       }
       
       #computer {
           width: 70px;
           height: 70px;
           transform: translateY(-50px);
           border-radius: 50%;
           background-color: white;
           margin-left: auto;
           margin-right: auto;
       }
       
       .tecnology {
           display: block;
           position: relative;
           padding: 70px 45px 70px 45px;
           margin-left: auto;
           margin-right: auto;
       }
       
       #tecnologias {
           text-align: center;
           margin-top: -25px;
           margin-bottom: 32px;
           margin-left: auto;
           margin-right: auto;
       }
       
       #lista {
           padding: 0px 0px 0px 0px;
           margin-left: auto;
           margin-right: auto;
       }
       
       .wow.rotateInDownLeft {
           background-color: white;
           border-color: white;
           margin-left: auto;
           margin-right: auto;
           font-size: large;
       }
       
       .btn.btn-secondary {
           background-color: white;
           border-color: white;
           color: black;
           margin-left: auto;
           margin-right: auto;
           font-size: large;
       }
       
       .btn.btn-secondary:hover {
           background: #53a7ea;
           margin-left: auto;
           margin-right: auto;
       }
       
       #footer {
           background-color: #003245;
           height: 250px;
           margin-left: auto;
           margin-right: auto;
       }
       
       #redes {
           display: block;
           text-align: center;
           margin-right: auto;
           margin-left: auto;
           transform: translateY(20px);
       }
       
       #linkedin {
           width: 52px;
           height: 52px;
           border-radius: 50%;
           margin-left: auto;
           margin-right: auto;
           transform: translateX(-10px);
       }
       
       #linkedin:hover {
           background: #53a7ea;
       }
       
       #git {
           width: 45px;
           height: 45px;
           border-radius: 50%;
           margin-left: auto;
           margin-right: auto;
           transform: translateY(-2px);
       }
       
       #git:hover {
           background: #53a7ea;
       }
       
       #footerGuy {
           display: block;
           margin-left: auto;
           margin-right: auto;
           transform: translateY(40px);
       }
       
       #facebook {
           width: 50px;
           height: 50px;
           border-radius: 50%;
           margin-left: 10px;
           margin-left: auto;
           margin-right: auto;
           transform: translateX(10px);
       }
       
       #facebook:hover {
           background: #53a7ea;
       }
       
       #contato {
           display: block;
           text-align: center;
           margin-right: auto;
           margin-left: auto;
           transform: translateY(40px);
       }
       
       #email {
           width: 50px;
           height: 50px;
           border-radius: 50%;
           margin-left: auto;
           margin-right: auto;
           transform: translateX(-10px);
       }
       
       #email:hover {
           background: #53a7ea;
       }
       
       #tel {
           width: 50px;
           height: 50px;
           border-radius: 50%;
           margin-left: auto;
           margin-right: auto;
           transform: translateX(10px);
       }
       
       #tel:hover {
           background: #53a7ea;
       }
       
       .btn.btn-success {
           background: rgb(0, 153, 255);
           border-color: #00BBCC;
       }
       
       .btn.btn-success:hover {
           background: #003245;
       }
       
       .navbar-brand {
           border-radius: 50%;
       }
       
       .box.animated.fadeIn {
           max-height: 100px;
           border-style: none;
       }
       
       #h2Experiencia {
           color: white;
           text-align: center;
           display: block;
           margin-left: auto;
           margin-right: auto;
           transform: translateY(-50px);
       }
       
       #divExperincia {
           color: white;
           margin-bottom: 100px;
           display: block;
           margin-left: auto;
           margin-right: auto;
           transform: translateX(450px);
       }
       
       #subir {
           display: block;
           margin-left: auto;
           margin-right: auto;
           text-align: center;
       }